In [5]:
import pandas as pd
import os
os.chdir("C:/Anurag/loylty_rewardz/churn_prediction")

In [6]:
import pandas as pd

df = pd.read_csv("data/raw/customer_churn_data.csv")

In [7]:
df.head()

,customer_id,account_age,recency,frequency,engagement_duration,feature_usage_count,plan_tier,support_tickets,billing_issues,marketing_ctr,nps_score,inactivity_streak,churn
0,CUST_000001,171,15,2,4.036448,2,Premium,3,0,1.75,NaN,1,1
1,CUST_000002,1098,8,7,9.806674,5,Basic,1,1,4.89,6.0,5,0
2,CUST_000003,480,2,20,3.372652,8,Premium,0,0,19.53,NaN,9,0
3,CUST_000004,333,16,1,3.449923,0,Premium,2,0,16.74,5.0,5,1
4,CUST_000005,61,4,17,0.335829,7,Basic,0,0,NaN,8.0,1,0

In [8]:
df.shape

(50000, 13)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   customer_id          50000 non-null  object
 1   account_age          50000 non-null  int64
 2   recency              50000 non-null  int64
 3   frequency            50000 non-null  int64
 4   engagement_duration  49199 non-null  float64
 5   feature_usage_count  50000 non-null  int64
 6   plan_tier            50000 non-null  object
 7   support_tickets      50000 non-null  int64
 8   billing_issues       50000 non-null  int64
 9   marketing_ctr        48001 non-null  float64
 10  nps_score            14833 non-null  float64
 11  inactivity_streak    50000 non-null  int64
 12  churn                50000 non-null  int64
dtypes: float64(3), int64(8), object(2)
memory usage: 5.0+ MB

In [10]:
print("\nMissing values:\n", df.isnull().sum())

Missing values:
 customer_id                0
account_age                0
recency                    0
frequency                  0
engagement_duration      801
feature_usage_count        0
plan_tier                  0
support_tickets            0
billing_issues             0
marketing_ctr           1999
nps_score              35167
inactivity_streak          0
churn                      0
dtype: int64

In [11]:
print("\nSummary statistics:\n", df.describe())


print("\nCategorical columns summary:\n", df.describe(include=["object"]))

Summary statistics:
         account_age       recency     frequency  engagement_duration  \
count  50000.000000  50000.000000  50000.000000         49199.000000
mean     362.789860     10.261920     10.653120            19.507614
std      361.788736     15.550103      7.083313            24.084136
min        1.000000      0.000000      0.000000            -4.951459
25%      104.000000      2.000000      5.000000             4.003245
50%      252.000000      6.000000     11.000000            11.503249
75%      503.000000     14.000000     15.000000            26.441859
max     2500.000000    361.000000     99.000000           298.000000

       feature_usage_count  support_tickets  billing_issues  marketing_ctr  \
count         50000.000000     50000.000000    50000.000000   48001.000000
mean              5.083160         1.373180        0.447020      20.646357
std               3.288225         1.839474        0.676315      13.142836
min               0.000000         0.000000        0.000000      -1.940072
25%               3.000000         0.000000        0.000000      10.470000
50%               5.000000         1.000000        0.000000      18.510000
75%               7.000000         2.000000        1.000000      28.570000
max              20.000000        29.000000        5.000000      81.230000

          nps_score  inactivity_streak         churn
count  14833.000000       50000.000000  50000.000000
mean       6.601766           8.955240      0.277900
std        1.739288          17.207343      0.447968
min        0.000000           0.000000      0.000000
25%        5.000000           1.000000      0.000000
50%        7.000000           4.000000      0.000000
75%        8.000000           9.000000      1.000000
max       10.000000         467.000000      1.000000

Categorical columns summary:
         customer_id plan_tier
count         50000     50000
unique        49950        10
top     CUST_012925     Basic
freq             51     19878